<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba Firebase</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="http://cdn.firebase.com/v0/firebase.js"></script>
	<script src="http://firebase.github.io/angularFire/angularFire.js"></script>
	<script>
		var myapp = angular.module('myapp', ['firebase']);

		myapp.controller('MyCtrl', ['$scope', 'angularFire',
		  function MyCtrl($scope, angularFire) {
		  	var url = 'https://diego2737.firebaseio.com/chat';
			angularFire(url, $scope, 'msglist', []);
			$scope.user = "Anonymous"

			$scope.sendMsg = function(){
				$scope.msglist.push({'from':$scope.user,'body':$scope.newMsg});
				$scope.newMsg = "";
			}
		  }
		]);
	</script>
	<style type="text/css">
		.center{
			text-align: center;
		}

		.left{
			text-align: left;
		}

		.title{
			border-bottom: 1px solid black;
		}

		#chat-container{
			box-shadow: inset 0px 0px 5px;
			padding: 2px 20px 2px 20px;
		}	

		.chatmsg{
			margin-bottom: 10px;
		}

		#newmsg{

		}
	</style>
</head>
<body ng-app="myapp" ng-controller="MyCtrl" class="center">
	<h1 class="title">Chat Demo</h1>
	<div id="chat-container" class="left">	
		<h2 ng-hide="msglist">No Messages</h2>
		<dl>
			<div ng-repeat="msg in msglist" class="chatmsg">
				<dt><i>{{msg.from}} Says:</i></dt>
				<dd>{{msg.body}}</dd>		
			</div> 
		</dl>
	</div>

	<form ng-submit="sendMsg()" class="left">
		<input type="text" placeholder="User" ng-model="user" required>
		<input type="text" placeholder="Message" ng-model="newMsg" required>
		<input type="submit" value="Send">
	</form>
</body>
</html>